<div class="component-wrapper">
  <div class="win-title-block" *ngIf="!stake.isFinished">
    <img class="coin-img" src="assets/imgs/coin.svg"/>
    <div class="description-column">
      <div class="title">
        Win up to $1000.
      </div>
      <div class="description">
        Get at least 8/10 correct answers <br />
        for 10 consecutive matches!
      </div>
    </div>
  </div>
<quiz-game *ngFor="let quizGame of stake.quizGames; let i = index" 
            [quizGame]="quizGame" 
            [index]="i+1"
            [connectWithNext]="stake.quizGames[i+1]"
            [ngClass]="{
              'highlight-connector': quizGame.correctAnswersCount > -1 && stake.quizGames[i+1] && stake.quizGames[i+1].correctAnswersCount != -1
            }"
></quiz-game>
<div class="win-title-block reward" *ngIf="stake.rewardCollected">
  <img class="coin-img" src="assets/imgs/coin.svg"/>
  <div class="description-column">
    <div class="title">
      You won
    </div>
    <div class="description">
      ${{stake.currentStakeMillestone.reward}}
    </div>
  </div>
</div>
<div class="btn-container" *ngIf="!stake.rewardCollected && stake.quizGames.length == stake.currentStakeMillestone.gamesCount">
  <button-primary [text]="'cash out and collect ' + stake.currentStakeMillestone.reward + '$'" class="collect-reward-btn" [disable]="!stake.canCollectReward" (clicked)="collectReward()"></button-primary>
</div>

</div>
