stake-list-item {
    .component-wrapper{
        padding-bottom: 16px;
        .win-title-block{
            width: 100%;
            min-height: 93px;
            border-radius: 17px;
            background-color: rgba($color: #004b8e, $alpha: 0.36);
            padding: 20px 17px;
            margin-top: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .coin-img{
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
            .description-column{
                text-align: right;
                .title{
                    color: #fffc23;
                    font-size: 18px;
                    line-height: 16px;
                }
                .description{
                    color: #fff;
                    font-size: 14px
                }
            }
        }
        .win-title-block.reward{
            .description-column{
                .title{
                    color: #fff;
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                .description{
                    color: #fffc23;
                    font-size: 18px;
                    line-height: 20px;
                    text-transform: uppercase;
                } 
            }
        }
        .btn-container{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            margin: 8px 0 0 0;
            .collect-reward-btn{
                width:  calc(100% - 84px);
            }
        }
    }
    
}
