<ion-tabs selectedIndex="1">
  <ion-tab [root]="tabOffersRoot" tabTitle="Offers" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tabJackpotRoot" tabTitle="Jackpot" tabIcon="logo-bitcoin"></ion-tab>
  <ion-tab [root]="tabHomeRoot" tabTitle="Home" tabIcon="football"></ion-tab>
  <ion-tab [root]="tabResultsRoot" tabTitle="Results" tabIcon="list"></ion-tab>
  <ion-tab [root]="tabProfileRoot" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
