<div class="quiz-game-item">
  <div class="index" [ngClass]="{'inActive': quizGame.correctAnswersCount === -1, 'failed': quizGame.correctAnswersCount != -1 && quizGame.correctAnswersCount < 8}">
    {{index}}
  </div>
  <div class="connector" *ngIf="connectWithNext"></div>
  <div class="quiz-game-date">
    <div class="date">
        {{quizGame.submitDateTime | date: "dd/MM/yy"}}
    </div>
    <div class="time">
        {{quizGame.submitDateTime | date: "HH:mm"}}
    </div>
  </div>
  <div class="quiz-game-body">
    <div class="team-column">
      <ion-icon ios="ios-football-outline" md="ios-football-outline" class="team-logo"></ion-icon>
      <div class="team-name">
          {{quizGame.fixture.homeTeam}}
      </div>
    </div>
    <div class="result-column">
      <circle-progress
      [percent]="quizGame.correctAnswersCount > 0 ? ((quizGame.correctAnswersCount / quizGame.gameSize)* 100) : 0"
      [radius]="24"
      [outerStrokeWidth]="3"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="quizGame.correctAnswersCount >= 8 ? '#00fffc' : '#ff6d60'"
      [innerStrokeColor]="'rgba(0, 255, 252, .16)'"
      [animation]="false"
      [space]="-3"
      [title]="quizGame.correctAnswersCount > -1 ? quizGame.correctAnswersCount  + '/' + quizGame.gameSize: '?'"
      [showUnits]="false"
      [titleColor]="quizGame.correctAnswersCount !== -1 && quizGame.correctAnswersCount < 8 ? '#ff6d60' : '#00fffc'"
      [titleFontSize]="14"
      [showSubtitle]="false"
      ></circle-progress>
      <div class="result" *ngIf="quizGame.isGameFinished">
        <div [ngClass]="{'winner': homeResult > awayResult}">
          {{homeResult}}
        </div>
        <div  [ngClass]="{'winner': homeResult < awayResult}">
          {{awayResult}}
        </div>
      </div>
    </div>
    <div class="team-column">
      <ion-icon ios="ios-football-outline" md="ios-football-outline" class="team-logo"></ion-icon>
      <div class="team-name">
          {{quizGame.fixture.awayTeam}}
      </div>
    </div>
  </div>
</div>
