quiz-game {
    .quiz-game-item{
        margin-top: 13px;
        width: 100%;
        min-height: 134px;
        border-radius: 17px;
        background-color: rgba($color: #004b8e, $alpha: 0.25);
        padding: 11px;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        position: relative;
        .index{
            position: absolute;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #00fffc;
            color: #00163f;
            font-size: 17px;
            top: 9px;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .index.inActive {
            background-color: transparent;
            color: #ffffff;
            border: 1px solid #ffffff;
        }
        .index.failed{
            background-color: #ff6d60;
        }
        .connector{
            background-color: #727272;
            width: 4px;
            height: calc(200% - 150px);
            position: absolute;
            top: 38px;
            left: 22px;
            border: 1px solid #00224e;
        }
        .quiz-game-date{
            font-size: 14px;
            line-height: 25px;
            color: #ffffff;
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 5px;
            display: flex;
            justify-content: center;
            .date{
                margin-right: 5px;
                opacity: 0.7;
            }
            .time{
                color: #ffffff;
            }
        }
        .quiz-game-body{
            width: 100%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 112px;
            padding: 0 27px;
            .result-column{
                width: 65px;
                .result{
                    color: #ffffff;
                    font-size: 18px;
                    line-height: 25px;
                    position: absolute;
                    width: 65px;
                    bottom: 0;
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 9px;
                    div {
                        font-size: 24px;
                    }
                    .winner {
                        color: #00fffc;
                    }
                }
            }
            .team-column{
                flex: 1;
                display: flex;
                height: 100%;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .team-logo{
                    font-size: 40px;
                    color: #ffffff;
                    opacity: 0.7;
                }
                .team-name{
                    color: #ffffff;
                    font-size: 18px;
                    line-height: 25px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}
quiz-game.highlight-connector{
    .connector{
        background-color: #00fffc;
    }
}