page-jackpot {
    .fixed-content {
        // background-color: #061943;
        background: linear-gradient(#001240, #004e92);
    }
    .scroll-content {
        padding-bottom: 0 !important;
        background: rgba($color: #000511, $alpha: 0.25);
        overflow: visible !important;
        margin-top: 55px;
    }
    .header-md::after{
        content: none;
    }
}
