// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.tab-button {
    min-height: 63px !important;
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7) !important;
    margin: 7px 0 !important;
}
.tabbar {
    background: #004b8e !important;
    border-top: none !important;
    padding: 0 7px !important;
    ion-icon{
        color: #ffffff !important;
        font-size: 3rem !important;
    }
}
.tabbar a[aria-selected=true]{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    ion-icon{
        color: #fffc23 !important;
    }
}
.toolbar-background{
    border: none !important;
    background-color: #001f4b !important;
}