stakes-list {
    ion-slides{
        width: calc(100% + 32px);
        height: calc(100% - 64px);
        margin-top: 64px;
        margin-left: -16px;
        .swiper-slide {
            padding: 3px 16px 0 16px;
            display: block;
            height: 100%;
            overflow-y: scroll;
        }
        .swiper-pagination-bullets {
            left: 0;
            bottom: 10px;
            width: 100%;
            position: fixed;
            top: 10px;
        }
        .swiper-pagination-bullet {
            border-radius: 100%;
            width: 11px;
            height: 11px;
            border: 1px solid #ffffff;
            opacity: 0.27;
            background: transparent;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background: #ffffff
        }
    }
    .current-slide{
        left: 0;
        right: 0;
        top: 0;
        background-color: #001f4b;
        position: fixed;
        height: 30px;
        color: #ffffff;
        padding-bottom: 19px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 16px;
        height: 80px;
    }

}
