<div class="current-slide" *ngIf="currentIndex != undefigned && stakes && stakes.length">
        {{currentIndex === stakes.length - 1 ? 'Current' : ''}} Jackpot {{currentIndex !== stakes.length - 1 ? 'From ' +  (stakes[currentIndex].createdDateTime | date): ''}}
</div>
<ion-slides *ngIf="stakes && stakes.length" #slides
    [initialSlide]="stakes.length - 1"
    [spaceBetween]="16" 
    [zoom]="false"
    [centeredSlides]="false"
    [pager]="true"
    (ionSlideDidChange)="slideChanged($event)"
    >
    <ion-slide *ngFor="let stake of stakes" (ionSlideDidChange)="slideChanged()">
        <stake-list-item [stake]="stake"></stake-list-item>
    </ion-slide>
</ion-slides>
