button-primary {
    
    .primary-btn{
        width: 100%;
        height: 35px;
        border-radius: 18px;
        background-color: #52e200;
        font-size: 12px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        transition: opacity 100ms;
    }
    .primary-btn[disabled]{
        color: #001f4b;
        opacity: 0.22;
    }
    .primary-btn.activated{
        opacity: 0.5;
    }
}
